body {
    background-color: lightcoral;
}

.game-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.grid {
    border: 1px solid black;
    background-color: lightgreen;
    margin: 0 auto;
    height: 610px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 66.67px;
    width: 66.67px;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: darkblue;
}

.car-left, 
.car-right {
    background-color: lightgray;
}

.l1, .l2, .l3 {
    background-image: url('../img/log-resized.png');
    background-color: aqua;
}

.l4, .l5 {
    background-color: aqua;
}

.c1 {
    background-image: url('../img/red-car-resized.png');
    background-position: center;
}

.grid hr {
    border-top: 5px dotted yellow;
    border-bottom: none;
    width: 100%;
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

.c2, .c3 {
    background-color: lightgray;
}

.frog {
    background-image: url("../img/frog-resized.png");
}