body {
    background-image: url("../img/forest-background.jpg");
    background-size: cover;
}

.game-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.top-banner {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
    color: black;
    padding: 0;
    margin-top: 50px;
    transform: rotate(-15deg);
}

.timer-button-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h3 {
    padding: 0;
    margin-top: -50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: black; 
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px;
}

h4 {
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: black; 
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
    float: right;
    transform: rotate(15deg);
}

button {
    background-color: brown;
    position: fixed;
    left: 44.25%;
    border-radius: 5px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1.5px;
}


.grid {
    border: 5px solid black;
    background-color: lightgreen;
    margin: -50px auto;
    height: 610px;
    width: 602px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 66.67px;
    width: 66.67px;
}

.ending-block {
    background-image: url('../img/lilypad-resized.png');
    border: 1px solid black;
    background-color: brown;
}

.starting-block {
    background-image: url('../img/frog-resized.png');
    
}

.car-left, 
.car-right {
    background-color: lightgray;
}

.l1, .l2, .l3 {
    background-image: url('../img/tree-log-resized.png');
    background-color: aqua;
}

.l4, .l5 {
    background-color: aqua;
}

.l6, .l7, .l8 {
    background-image: url("../img/tree-log-resized-flipped.png");
    background-color: aqua;
}

.l9, .l10 {
    background-color: aqua;
}

.c1 {
    background-image: url('../img/red-car-resized.png');
    background-position: center;
}

.c4 {
    background-image: url('../img/red-car-resized-right.png');
    background-position: center;
}

.grid hr {
    border-top: 7px dashed yellow;
    border-bottom: none;
    width: 100%;
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

.c2, .c3 {
    background-color: lightgray;
}

.frog {
    background-image: url("../img/frog-resized.png");
}